.mainContainer {
    font-size: 16px;
    margin: 10px;
}

.header {
    width: 100%;
    height: 100%;
    background-color: #0c373f;
    padding: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 30px;
}

.filter {
    width: 100%;
    height: 50px;
    background-color: #0c373f;
    margin-top: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filterContent {
   flex: 1;
   display: flex;
   justify-content: space-around;
}

.filterSelect {
    width: 200px;
    height: 30px;
    background: none;
    color:#fbb532;
    font-size: 16px;
}

.filterOption {
    background: #265066;
    height: '30px';
}

.clearFilter {
    height: 30px;
    background: #fbb532;
    color: #0c373f;
    border-radius: 7px;
    border: 1px solid;
    cursor: pointer;
}

.filterChart {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.filterChartContent {
    font-size: 20px;
    margin: 0px 10px;
}

input[type="checkbox"] {
    accent-color: #fbb532;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #265066;
    height: auto;
    color: white;
    width: 100%;
    justify-content: center;
}

.subCards {
    background-color: #0c373f;
    width: 352px;
    height: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
}

.cardName {
    padding: 10px;
    font-size: 30px;
}

.cardContent {
    display: flex;
    flex-direction: column;
}

.discount {
    color: #fbb532;
    text-align: center;
    font-size: 30px;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cardSubDetails {
    flex: 1;
    font-size: 20px;
}

.chart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;

}

.subCharts {
    width: 900px;
    background: #0c373f;
    margin-top: 10px;
    margin-right: 6px;
}

.chartHeading {
    color: #fbb532;
    text-align: center;
}